.burger-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  animation: moveUpDown 2s ease infinite;
}

.burger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #AD5389, #3C1053);
  color: white;
  border-radius: 35px;
  cursor: pointer;
  padding: 15px;
  transition: all 0.3s ease;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.icon{
  font-size: 24px;
}

.burger-icon a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DA70D6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin: 5px; 
}

.burger-icon a:not(:last-child) {
  margin-right: 10px;
}

.burger-icon a:hover {
  background-color: #C355B5;
}

.burger-icon > * {
  margin: 0 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.burger-icon > *:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .icon-container {
    width: 75vw;
  }
  
  .icon-container {
    flex-wrap: wrap;
    max-width: 250px; 
  }

}
